<h1>QED dev Textblock page</h1>
<span id="data" data-textblock_ids="<%= @textblock_ids %>">text</span>
<p>
  Aantal: <%= @number  %>
</p>

<% @users.each do |u| %>
  <div class="textblocks">
    Textblokken user <%= u.id %>:
    <% @index = u.id * 1000 %>
    <% u.textblocks.each do |t| %>
      <button id="textblock<%= @index %>"> edit textblock<%= @index %> </button>
      <div id="text<%= @index %>" class="textblock">
        <div class="text" >
          textblock<%= @index %> <br>
          <%= t %>
        </div>

      </div>
      <div id="edit<%= @index %>" class="edit-block" style="display: none">
        <input id="new<%= @index %>" type="text" value="<%= t %>">
      </div>
      <% @index += 1 %>
    <% end %>
  </div>
<% end %>
